<% layout('/layouts/boilerplate.ejs') -%>
<script>
const coordinates=<%- JSON.stringify(list.geometry.coordinates)%>;


</script>

 <script>
const locatio=<%- JSON.stringify(list.location)%>;
const countr=<%- JSON.stringify(list.country)%>;


 </script>
 
 <style>
    body {
        font-family: Arial, sans-serif;
        background: linear-gradient(to right, #eaeaea, #c9c9c9); }
    
    .container {
        max-width: 800px;
        padding: 30px;        margin: 33px auto;

        background: linear-gradient(to right, #eaeaea1f, #bbb9b922);
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        color: #333;
    }
    h1 {
        font-size: 36px;
        margin-bottom: 20px;
        color: #ff0000; /* Bright blue */
        font-weight: bold;
    }
    
    ul {
        list-style: none;
        padding: 0;
        margin-bottom: 20px;
    }
    
    li {
        margin-bottom: 10px;
    }
    
    b {
        color: #007bff; /* Bright blue */
    }
    
    p {
        margin-bottom: 20px;
    }
    
    .edit, .delete {
        padding: 10px 20px ;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        border: none;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
margin-right: 33px;
        
    }
    #btn{

display: flex;

    }
    
    .edit {
        background-color: #069b29; /* Green */
    }
    
    .delete {
        background-color: #bc1728; /* Red */
    }
    
    .edit:hover, .delete:hover {
        opacity: 0.8;
    }
</style>
</head>
<div class="container detail">
   <b> <h1><%= list.title %></h1></b>
   <img src="<%= list.image.url %>" class="card-img-top" alt="noy working" style="height: 18rem" >
   <ul><b><li>Owned By : </b><i><%= list.owner.username  %></i></li></ul>
    <ul>
        <li><b>Price:</b> <%= list.price %></li>
        <li><b>Country:</b> <%= list.country %></li>
        <li><b>Location:</b> <%= list.location %></li>
        <li>
         geometry <%=  list.geometry['coordinates'] %>
        </li>
    </ul>   
    <p><b>More:</b> <%= list.description %></p>
    
    <% if(currentUser && currentUser._id.equals(list.owner._id)){ %> 

    <div id="btn">
<form action="/listing/<%= list.id%>/edit" method="get">
        <button class="edit">Edit</button>
    </form>
 <form action="/listing/<%= list.id%>?_method=DELETE" method="post">
        <button class="delete">Delete</button>
    </form>
    </div>
</div>

<% } %> 
<% if(currentUser) {%>
<div class="container" >



<form action="/listing/<%= list.id%>/reviews" method="post"  novalidate class='needs-validation' >
<!-- <label for="" class="form-label">ratings</label> -->
<!-- <input type="range" max="5" min="1" name="reviews[ratings]" class="form-control"  required><br> -->
<fieldset class="starability-slot">
  <legend>rating:</legend>
  <input type="radio" id="no-rate" class="input-no-rate" name="reviews[ratings]" value="1" checked aria-label="No rating." />
  <input type="radio" id="first-rate1" name="reviews[ratings]" value="1" />
  <label for="first-rate1" title="Terrible">1 star</label>
  <input type="radio" id="first-rate2" name="reviews[ratings]" value="2" />
  <label for="first-rate2" title="Not good">2 stars</label>
  <input type="radio" id="first-rate3" name="reviews[ratings]" value="3" />
  <label for="first-rate3" title="Average">3 stars</label>
  <input type="radio" id="first-rate4" name="reviews[ratings]" value="4" />
  <label for="first-rate4" title="Very good">4 stars</label>
  <input type="radio" id="first-rate5" name="reviews[ratings]" value="5" />
  <label for="first-rate5" title="Amazing">5 stars</label>
</fieldset>
<div class="mt-3 mb-3">
<label for="comments" class="form-label"> comments</label>
<textarea  name="reviews[comments]" id="comments" rows="3" cols="28" placeholder="write your experience!"  class="form-control"  required></textarea>
  <div class="invalid-feedback">
        Please enter your reviews.
      </div> </div>

<button>submit</button>
</form></div>
<% } %>

<% if(list.reviews){%>



<div class="container">
  
 <div class="row ">
    <%for(let review of list.reviews){%>
<div class="card col-5 ms-4 mb-3 mt-3  ">    

    <div class="card-body">
      <h5 class="card-title"><%=review.author.username  %></h5>
      <p class="card-text">comments:<%= review.comments   %> </p>
  <p class="starability-result card-text" data-rating="<%= review.ratings  %>"></p>
      <form action="/listing/<%= list._id  %>/reviews/<%= review._id  %>?_method=DELETE" method="post">
<button>delete</button></form>
</div> 

</div><%   }   %>
</div>       
</div>
<% } %>
</div>
<div >
    <h1>Map of New Delhi</h1>
    <div id="map"></div>
    

</div>